{% extends 'base.html'%}
{% load staticfiles %}
{% block styles%}
<style>
body{background-color:rgb(300,150,0);}
.jumbotron {
    font:italic 13px mono;
    text-align: center;
    background-color:rgb(200,200,320);	
}
</style>
{% endblock %}



{% block jumbotron%}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1><strong<emp> HOLAAA!!</emp></strong></h1>
        <h1><strong<emp> SHOPPERS!!!</emp></strong></h1>
        <h2><strong>INDIA'S CHEAPEST STORE</strong></h2>
      </div>
{% endblock %}

{% block content %}
<div class ="container">	
<div class="row">

<div class="col-lg-6" style="background color:red;">
	 <a href="#"><img src="{% static 'img/women.jpg' %}" class='img-responsive'/></a>
         
        </div>
<div class="col-lg-6" style="background color:red;">
	 <a href="#"><img src="{% static 'img/all.jpg' %}" class='img-responsive'/></a>
         
        </div>
</div>
        <div class="col-lg-6">
 	 <a href="#"><img src="{% static 'img/men.jpg' %}" class='img-responsive' /></a>
	  <p><a class="btn btn-success" href="#" role="button" class='img-responsive'/></a></p>
	 </div>
          <div class="col-md-4">
           <a href="#"><img src="{% static 'img/home1.jpg' %}" class='img-responsive'/></a>
       </div>
                <div class="col-md-4">
	{% if request.user.is_authenticated %}
	<h3>Hello {{ request.user }}</h3>
	
	{% else %}
          <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
  

<div id="div_id_login" class="form-group"> <label for="id_login" class="control-label  requiredField">
                Login<span class="asteriskField">*</span> </label> <div class="controls "> <input type="text" name="login" placeholder="Username or e-mail" autofocus="autofocus" class="textinput textInput form-control" required="" id="id_login"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class="control-label  requiredField">
                Password<span class="asteriskField">*</span> </label> <div class="controls "> <input type="password" name="password" placeholder="Password" class="textinput textInput form-control" required="" id="id_password"> </div> </div> <div class="form-group"> <div id="div_id_remember" class="checkbox"> <label for="id_remember" class=""> <input type="checkbox" name="remember" class="checkboxinput" id="id_remember">
                    Remember Me
                </label> </div> </div>

  
  <a class="btn btn-link button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
  <a class="btn btn-link button secondaryAction" href="{% url 'account_signup' %}">Signup</a>
  <button class=" btn btn-default primaryAction" type="submit">Sign In</button>
</form>
{% endif %}
	
        </div>
</div>
</div>	 
{% endblock %}
